@font-face { 
    font-family: Handel Gothic; src: url('HandelGothic.ttf') format('truetype');
    font-family: NavFont; src: url('NavFont.ttf') format('truetype');
}

@media only screen and (min-width: 960px) {

    body {
        position: center;
        background-color: #162C54;
        background-image: url(../images/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        max-width: fit-content;
        background-size: cover;
        margin-top: -1%;
    }

    .header-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: center;
    }

    .header-bg {
        width: 100%;
        height: 40%;
        position: absolute;
        z-index: 1;
        object-fit: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 4% 20% 7%;
        }

    .logo {
        width: 30%;
        height: auto;
        position: relative;
        z-index: 2;
    }

    .nav-links {
        z-index: 2;
    }

    .nav-links li{
        display: inline-block;
        z-index: 2;
        padding: 1% 1% 1% 1%;
    }

    .nav-links li a{
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        font-family: NavFont;
        position: relative;
    }

    .nav-links li a:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s linear;
    }

    .nav-links li a:hover:after{
        transform-origin: bottom left;
        transform: scaleX(1);
    }

    .content-head {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        align-items: center;
    }

    .sotr {
        position: relative;
        z-index: 1;
        margin-top: 0.6%;
        border: 5px #fff solid;
    }

    h2 {
        text-align: center;
        font-size: 50px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-family: NavFont;
        position: relative;
        margin-bottom: -8.3%;
        border: 5px black solid;
        border-radius: 10%;
        background-color: #162C54;
    }

    .subcontent {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        align-items: center;
    }

    .sotl {
        position: relative;
        z-index: 1;
        transition: transform 250ms;
        padding-top: 15%;
        padding-bottom: 5%;
    }

    .sotl:hover {
        transform: scale(1.2);
    }


    .sots {
        position: relative;
        z-index: 1;
        transition: transform 250ms;
        padding-top: 5%;
        padding-bottom: 5%;
    }

   .sots:hover {
        transform: scale(1.2);
    }

    .sotc {
        position: relative;
        z-index: 1;
        transition: transform 250ms;
        padding-top: 5%;
        padding-bottom: 5%;
    }

   .sotc:hover {
        transform: scale(1.2);
    }

    .soth {
        position: relative;
        z-index: 1;
        transition: transform 250ms;
        padding-top: 5%;
        padding-bottom: 5%;
    }

   .soth:hover {
        transform: scale(1.2);
    }

    .seasons {
        display: block;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    h3 {
        position: relative;
        font-family: 'NavFont';
        font-size: 30px;
        text-align: left;
        color: white;
    }

    p {
        position: relative;
        font-family: 'NavFont';
        font-size: 25px;
        text-align: left;
        color: white;
    }

    h4 {
        position: relative;
        font-family: 'Handel Gothic';
        font-size: 19px;
        text-align: center;
        color: white;
    }
}