@font-face { 
    font-family: Handel Gothic; src: url('HandelGothic.ttf') format('truetype');
}

body {
   background-color: #162C54;
}

#header {
    z-index: 0;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3.8%;
    size: 50%;
    width: 1210px;
    height: auto;
    overflow: hidden;
}

#logo {
    z-index: 1;
    float: center;
    position: absolute;
    width: 25%;
    height: auto;
    margin-left: 19%;
    margin-top: 1%;
}

.background {
    display: block;
    position: absolute;
    width: auto;
    left: -8.9%;
    height: 1300px;
    transform: rotate(90deg);
    margin-top: 28%;
}

.h1 {
    display: block;
    position: relative;
    height: fit-content;
    width: fit-content;
}

.home {
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding-left: 21%;
    padding-right: 30px;
}

.seasons {
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 30px;
}

.community {
    position: relative;
    display: inline-block;
    font-family: 'Handel Gothic';
    font-size: 30px;
    padding-left: 4%;
    padding-right: 30px;
}

.help {
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding-left: 90px;
    padding-right: 30px;
}

.store {
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding-left: 90px;
    padding-right: 30px;
}

a:link, a:visited {
    color: white;
    font-family: 'Handel Gothic';
}

.sotr {
    position: absolute;
    margin-left: 22%;
    margin-top: 4%;
    z-index: 1;
}

h2 {
    font-size: 30px;
}

.sotl {
    position: absolute;
    margin-left: 22%;
    margin-top: 43%;
    width: 500px;
    z-index: 1;
}

.sots {
    position: absolute;
    margin-left: 51%;
    margin-top: 43%;
    width: 500px;
    z-index: 1;
}

.sotc {
    position: absolute;
    margin-left: 22%;
    margin-top: 64%;
    width: 500px;
    z-index: 1;
}

.soth {
    position: absolute;
    margin-left: 51%;
    margin-top: 64%;
    width: 500px;
    z-index: 1;
}

h3 {
    position: relative;
    font-family: 'Handel Gothic';
    font-size: 30px;
    text-align: left;
    padding-left: 340px;
    padding-right: 340px;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    margin-top: 85%;
}

p {
    position: relative;
    font-family: 'Handel Gothic';
    font-size: 25px;
    text-align: left;
    padding-left: 340px;
    padding-right: 340px;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
}       

.rectangle {
    height: 50px;
    width: 1000px;
    background-color: #162C54;
}

h4 {
    position: relative;
    font-family: 'Handel Gothic';
    font-size: 19px;
    text-align: right;
    color: white;
    margin-right: 18%;
}